@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-text-h1: #2b2b2b;
		--color-text-h2: #171010;
		--color-text-dark-highlight: #470d21;
		--color-text-highlight: #ff9f45;
		--color-text-base: #ffffff;
		--color-text-muted: #ffad60;
		--color-text-inverted: #ffad60;
		--color-fill: #f9e4d4;
		--color-button-accent: #ff9f45;
		--color-button-accent-hover: #d67d3e;
		--color-buton-muted: #f9e4d4;
	}
}
